*.log

logs/
.cache/
.mixin.out/
.vscode/
simplebackups/
CustomSkinLoader/
journeymap/
saves/
screenshots/
showdown/
tacz_backup/
trainers/
local/
config/ItemLocks/
shaderpacks/
config/yes_steve_model/
crash-reports/
kubejs/probe/
backups/
mods/.connector/

/usercache.json
/usernamecache.json
/Palmon_T-natives
/resourcepacks
/local
emi.json
config/packetfixer.properties
config/oculus.properties
config/fabric/indigo-renderer.properties
backups/backups.json
Palmon-natives/
/modernfix
servers.dat
servers.dat_old
/backups
/Distant_Horizons_server_data
/Palmon-natives
/tlm_custom_pack/touhou_little_maid-1.0.0
/modernfix/structureCacheV1
/local/ftbchunks/data
config/packetfixer.properties
config/oculus.properties
config/fabric/indigo-renderer.properties
config/cobblemon/main.json
servers.dat
servers.dat_old
.sl_password
servers.dat_old
servers.dat
/sr_shaderCache
servers.dat
/config/yes_steve_model
config/oculus.properties
config/packetfixer.properties
config/DistantHorizons.toml
servers.dat_old
servers.dat
emi.json
/config/yes_steve_model
/exposures
mods/\[灾变\] L_Enders_Cataclysm-3.15.jar
/local/kubejs
mods/L_Enders_Cataclysm-3.16.jar
